{% extends "base.html" %}

{% block page %}
<!-- Mask layer
================================================== -->
<div id="dlgselect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="dlgtitle">选择大学</h3>
    </div>
    <div class="modal-body">
        <!-- Create class
        ================================================== -->
        <div class="row">
            <ul>  
                {% for p in province %}
                <li class="span1">
                    <a href="#" class="lblprovince" id="p{{ p.id }}">{{ p.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <div class="row" id="divcollege"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <button class="btn btn-primary">确定</button>
    </div>
</div>

<!-- Map layer
================================================== -->
<div class="hide" id="map"></div>
<div id="dlgmap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="dlgtitle">选择位置</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label class="control-label">输入位置关键词</label>
            <div class="controls">
                <input type="text" id="txtsearch" class="span12">
            </div>
        </div>
        <div class="row">
            <div id="divmap"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <button class="btn btn-primary">确定</button>
    </div>
</div>

<h1 class="form-signin-heading">创建专属班级</h1>
<form action="" method="POST" class="horizontal-form">{% csrf_token %}
    <!-- class info
    ================================================== -->
    <h3 class="form-section">班级信息(班级信息必填项一经提交不可修改,请仔细核对)</h3>
    <div class="row-fluid">
        <div class="span6">
            {% if form.college.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">学校名称(必填)</label>
                {{ form.college }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.department.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">学院名称(必填)</label>
                {{ form.department }}
                <div class="btn-group pull-left">
                    <ul class="dropdown-menu" style="height:200px;overflow-y:scroll;"></ul>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <!--/span-->
        <div class="span6">
            {% if form.classnum.errors %}
            <div class="control-group error">
                <label class="control-label" >{{ form.classnum.errors }}</label>
            {% else %}
            <div class="control-group">
                <label class="control-label" >班号(必填)</label>
            {% endif %}
                {{ form.classnum }}
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            {% if form.year.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">毕业年份(必填)</label>
                {{ form.year }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <!--/span-->
        <div class="span6">
            {% if form.slogon.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">班级标语</label>
                {{ form.slogon }}
            </div>
        </div>
        <!--/span-->
    </div>

    <!-- person info
    ================================================== -->
    <h3 class="form-section">个人信息</h3>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.studentnum.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">学号(必填)</label>
                {{ form.studentnum }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.name.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">姓名(必填)</label>
                {{ form.name }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.qq.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">QQ</label>
                {{ form.qq }}
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            {% if form.weibo.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">新浪微博号</label>
                {{ form.weibo }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.phone.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">手机号码</label>
                {{ form.phone }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.mail.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">E-mail</label>
                {{ form.mail }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.birthday.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">生日(公历:g, 农历: n)</label>
                {{ form.birthday }}
            </div>
        </div>
        <!--/span-->
        <div class="span6 ">
            {% if form.position.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label">当前位置(必填)</label>
                {{ form.position }}
            </div>
        </div>
        <!--/span-->
    </div>

    <!-- class key
    ================================================== -->
    <h3 class="form-section">设置问题(回答正确方可进入, 多个答案请用`|`分隔)</h3>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.quest1.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="firstName">问题 1(必填)</label>
                {{ form.quest1 }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.answer1.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="lastName">答案 1(必填)</label>
                {{ form.answer1 }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.quest2.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="firstName">问题 2(必填)</label>
                {{ form.quest2 }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.answer2.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="lastName">答案 2(必填)</label>
                {{ form.answer2 }}
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row-fluid">
        <div class="span6 ">
            {% if form.quest3.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="firstName">问题 3(必填)</label>
                {{ form.quest3 }}
            </div>
        </div>
        <!--/span-->
        <div class="span6">
            {% if form.answer3.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="lastName">答案 3(必填)</label>
                {{ form.answer3 }}
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">确定</button>
        <a type="button" href="/" class="btn">取消</a>
    </div>
</form>
{% endblock %}

{% block js %}
<script type = "text/javascript" >
$("#id_college").bind("click keyup keypress", function(){
    $("#dlgselect").modal('show');
});
$(".lblprovince").click(function(){
    $.getJSON("/ajax/querycollege", {"proid":$(this).attr("id").replace(/[^0-9]/ig,"")},function(data){
        $("#divcollege").empty();
        var college = "<ul>";
        $.each(data, function(k, v){
            if(parseInt(v.link) == 16705) college += '<li class="span2"><a class="lblcollege" href="#" id="c'+v.link+'" style="color:red">'+v.name+"</a></li>";
            else college += '<li class="span2"><a class="lblcollege" href="#" id="c'+v.link+'">'+v.name+"</a></li>";
        });
        college += "</ul>";
        $("#divcollege").html(college);


        $(".lblcollege").click(function(){
            $("#dlgselect").modal('hide');
            $("#id_college").val($(this).attr("id").replace(/[^0-9]/ig,"")+$(this).html());
            $("#id_department").val("");
        });
    });
});
$("#id_department").bind("click keyup keypress", function(){
    $(".btn-group.pull-left").removeClass().addClass("btn-group open pull-left");
    $.getJSON("/ajax/querydepartment", {"colid":$("#id_college").val().replace(/[^0-9]/ig,"")},function(data){
        $(".dropdown-menu").empty();
        var department = "";
        $.each(data, function(k, v){
            department += '<li><a class="lbldepartment" href="#" id="d'+v.link+'">'+v.name+'</a></li>'
        });
        $(".dropdown-menu").html(department);

        $(".lbldepartment").click(function(){
            $("#id_department").val($(this).attr("id").replace(/[^0-9]/ig,"")+$(this).html());
            $(".btn-group.open.pull-left").removeClass().addClass("btn-group pull-left");
        });
    });
});
$("#id_position").bind("click keyup keypress", function(){
    $("#dlgmap").modal('show');
});
$("#id_classnum").change(function(){
    $("#id_studentnum").val($(this).val());
});

var map = new BMap.Map("map");// 创建Map实例
$("#txtsearch").keyup(function(){

map.centerAndZoom(new BMap.Point(116.404, 39.915), 11)
    var options = {
        onSearchComplete: function(results) {
            // 判断状态是否正确
            if (local.getStatus() == BMAP_STATUS_SUCCESS) {
                var s = "<ul>";
                for (var i = 0; i < results.getCurrentNumPois(); i++) {
                    s += '<li class="span12">';
                    s += '<a href="#" class="lbladdress">';
                    s += results.getPoi(i).title + "," + results.getPoi(i).address;
                    s += '('+results.getPoi(i).point.lng + ','+ results.getPoi(i).point.lat+')';
                }
                s += "</ul>"
                $("#divmap").html(s);

                $(".lbladdress").click(function(){
                    $("#dlgmap").modal('hide');
                    $("#id_position").val($(this).text());
                });
            }
        }   
    };
    var local = new BMap.LocalSearch(map, options);
    local.setPageCapacity(15);
    local.search($(this).val());
});
</script>
{% endblock %}