{% extends "base.html" %}
{% block page %}
<!-- Input
================================================== -->
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 text-center">
            <img src="http://bcs.duapp.com/mediaavatar/code.jpg"> 
            打开微信, 猛扫我吧!<br/>
            或者手动添加公共主页: daxuetongchuang<br/>
        </div>
        <div class="span4"></div>
    </div>
    <!--
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <ul style="list-style-type:none;text-indent: 2em;">
            <li>1. 关注大学同窗微信：daxuetongchuang</li>
            <li>2. 发任何消息到大学同窗，获取OpenID</li>
            <li>3. 创建班级后添加成员，填写OpenID并提交</li>
            <li>4. 发送「帮助」可获取指令</li>
            </ul>
        </div>
        <div class="span4"></div>
    </div>-->
</div> 
{% endblock %}